.App {
  text-align: center;
}

.channel{
  display: flex;
  flex-direction: row;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.category-btn:hover {
  background-color: red !important;
  cursor: pointer;
  border-radius: 15px;
}
